<h1 class="p-3">Reactive Form</h1>
<div class="p-3 w-25">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input formControlName="name" type="text" class="form-control" >
            <li class="alert alert-danger" *ngIf="productForm.controls['name'].touched && productForm.controls['name'].invalid">Geçersiz.</li>
        </div>
        <div class="form-group">
            <label >Description</label>
            <input type="text" class="form-control" formControlName="desc">
        </div>
        <div class="form-group">
            <label >ImgUrl</label>
            <input type="text" class="form-control" formControlName="img">
        </div>
        <div class="form-group">
            <label >Price</label>
            <input type="number" class="form-control" formControlName="price">
        </div>
        <button type="submit" class="btn btn-primary ">Submit</button>
    </form>
</div>