<div class="m-5">
    <h1>Products</h1>
    <div class="bg-info text-white p-2" style="height: 40px;">
        Selected Product :<span *ngIf="selectedProduct!=null"> {{ selectedProduct.name}}</span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products" [class.bg-info]="getSelectedProduct(product)">
                        <td>{{product.id}}</td>
                        <td><img src="/assets/img/{{product.imgUrl}}" alt="" width="80"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <button class="btn btn-danger btn-xs mr-2 ">Delete</button>
                            <button class="btn btn-primary btn-xs" (click)="editProduct(product)">Edit</button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="description" *ngIf="selectedProduct!=null">
                <div class="form-group">
                    <input #pName [(ngModel)]="selectedProduct.name" type="text"
                        class="form-control mt-5" >
                </div>
                <div class="form-group">
                    <input #pDesc [(ngModel)]="selectedProduct.description" type="text"
                        class="form-control mt-5" >
                </div>
                <div class="form-group">
                    <input #pPrice [(ngModel)]="selectedProduct.price" type="text"
                        class="form-control mt-5">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" (click)="SaveChanges()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-5">
    <h1>Add New Product</h1>
    <div class="bg-info">
        {{jsonProduct}}
    </div>
    <div id="form" class="w-25">
        <div class="form-group">
          <label >Name</label>
          <input required minlength="3" maxlength="20"  name="pName" type="text" [(ngModel)]="newProduct.name" class="form-control"  #name="ngModel" >
          <small class="text-danger" *ngIf="!name.valid&&name.touched">Name is required.</small>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input required class="form-control" [(ngModel)]="newProduct.description" type="text" #desc="ngModel">
          <small class="text-danger" *ngIf="!desc.valid&&desc.touched">Description is required.</small>

        </div>
        <div class="form-group">
            <label>ImgUrl</label>
            <input required class="form-control" [(ngModel)]="newProduct.imgUrl" type="text"  #img="ngModel">
            <small class="text-danger" *ngIf="!img.valid&&img.touched">ImgUrl is required.</small>
  
        </div>
        <div class="form-group">
            <label>Price</label>
            <input required class="form-control" [(ngModel)]="newProduct.price" type="number" step="100" #price="ngModel" >  
            <small class="text-danger" *ngIf="!price.valid&&price.touched">ImgUrl is required.</small>

        </div>
    </div>
       
        <button type="submit" (click)="addProduct(newProduct)" class="btn btn-primary" >Submit</button>
</div>